node_modules
.next
dist
out
coverage

.git
.gitignore

pnpm-store
.pnpm-store
.npm
.yarn

Dockerfile
docker-compose.yml

.vscode
.devcontainer

**/*.log
**/*.tsbuildinfo

.saleor-app-auth.json

.env
.env.*

data/
*.db
*.sqlite
*.sqlite3

drizzle/meta
drizzle/*.sql

.DS_Store
Thumbs.db

saleor-app-auth.json