services:
  saleor-payment-app:
    container_name: saleor-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    env_file:
      - .env

    volumes:
      - ./data:/app/data
    restart: unless-stopped
