services:
  saleor-payment-app:
    container_name: saleor-payment-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000"

    volumes:
      - saleor-data:/app/data

    networks:
      - traefik-net
      - saleor-ecommerce-network

    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-net

      - traefik.http.routers.saleor-payment.rule=Host(`ecommerce-payments.aahrbitx.in`)
      - traefik.http.routers.saleor-payment.entrypoints=websecure
      - traefik.http.routers.saleor-payment.tls=true
      - traefik.http.routers.saleor-payment.tls.certresolver=letsencrypt

      - traefik.http.services.saleor-payment.loadbalancer.server.port=4000

volumes:
  saleor-data:

networks:
  traefik-net:
    external: true
  saleor-ecommerce-network:
    external: true
